* {
  box-sizing: border-box;
}

/*-----------------------------------------Colour */

/*-----------------------------------------Special paddings/margins/texts */

/*-----------------------------------------nav */
.nav {
  display: flex;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
}
  
/*-----------------------------------------logo */
.logo {
    display: inline-block;
    padding: 0;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}


