@import url('https://fonts.googleapis.com/css?family=Advent+Pro:100,200,300,400,500,600,700|Quicksand:300,400,500,700|Caveat:400,700');

/* scroll-behavior suggested by the mentor Simen Dehlin */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Advent Pro", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

/* Colour */

.nav-coral {
    background-color: transparent;
}

.bg-grey {
    background-color: #384955;
    color: #FAE2CB;
}

.bg-coral {
    background-color: #FAE2CB;
    color: #384955;
    padding-bottom: 20px;
}

/* Images */

.about-img {
    background: url(../images/about-image.jpg);
}

.qigong-img {
    background: url(../images/lotus.jpg);
}

.amatsu-img {
    background: url(../images/water.jpg);
}

.contact-img {
    background: url(../images/contact.jpg);
}

/* Banner image code technics found in the link below:
https://stackoverflow.com/questions/38038056/adding-a-background-image-just-below-the-navigation-bar */

.banner-image {
    min-height: 30vh;
    background-size: 100% 100%;
    width: 100vw;
    background-repeat: no-repeat;
    position: relative;
}

.banner-image-contact {
    min-height: 45vh;
}

.sm-img {
    max-height: 600px;
    max-width: 400px;
}


/* Special paddings/margins/texts */

.container-fluid {
    margin: 0;
}

main {
    margin: 0;
    padding: 0;
}

h3 {
    padding: 15px 0 15px;
    font-family: "Caveat", sans-serif;
    font-size: 40px;
}

h4 {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 30px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* buttons */

.btn-gal {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 10px;
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;
}

.btn-more {
    font-size: 40px;
}

.btn-grey {
    background-color: #384955;
    border-color: #384955;
    color: #FAE2CB;
}

.btn-grey:hover {
    color: #FF8863;
}

.btn-coral {
    background-color: #FAE2CB;
    border-color: #FAE2CB;
    color: #384955;
}

.btn-coral:hover {
    color: #87B0CD;
}

.btn-orange {
    background-color: #FF8863;
    color: #384955;
    font-size: 30px;
    margin-bottom: 10px;
}

.btn-orange:hover {
    color: #FAE2CB;
}

/* section divider */

.section-divider-short,
.section-divider-price,
.section-divider-long {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #384955;
}

.section-divider-long {
    width: 100%;
    height: 10px;
    margin: 0;
}

/* logo */

#logo {
    display: inline-block;
    padding: 0;
    margin: 0;
    line-height: inherit;
    white-space: nowrap;
    background-position: center;
    background-repeat: no-repeat;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/* logo disappear when scrolling down thanks to a codepen and js code created by Simen Dehlin via https://codepen.io/Eventyret/pen/RXBNaJ */

.navbar-brand {
    opacity: 1;
}

.navbar-brand>img {
    height: 50px;
    width: 80px;
}

/* burger icon inspired from https://mdbootstrap.com/docs/jquery/navigation/hamburger-menu/ */

.fa-bars {
    background-color: #FAE2CB;
    color: #384955;
    font-size: 40px;
    padding: 5px;
    border-radius: 5px;
}

.navbar-light .navbar-toggler {
    border: none;
    margin-right: 5px;
}

/* nav */

.navbar {
    padding: 0;
    text-align: center;
    overflow: auto;
}

.navbar-collapse {
    background-color: #FAE2CB
}

.nav-item {
    padding-left: 15px;
}

.nav-item a {
    color: #384955;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    -webkit-transition: background-color .2s ease-in-out, color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out, color .2s ease-in-out;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

.nav-item a:hover {
    color: #FAE2CB!important;
    background-color: #384955;
    border-radius: 15px;
}

/* footer */

.footer-row {
    padding: 0 15px;
}

.footer-contact {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.footer-contact p {
    margin-top: .5rem;
}

/* css code for social media icon is copied and slightly changed from Resume Mini-Project */
.socialmedia i {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 35px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: #FAE2CB;
    background: #384955;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/* trick to remove underline on font awesome icon when hover: https://codepen.io/jessicalyschik/pen/MJrwwx */

.socialmedia i:before {
    display: inline-block;
    text-decoration: none;
}

/* full background image with attention */

.home-image {
    /*found css trick here: https://css-tricks.com/perfect-full-page-background-image/ */
    min-height: 40vh;
    max-height: 95vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    background: url(../images/home-image.jpg) no-repeat center center fixed;
    background-size: cover;
    padding-top: 100px;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
}

/*found css trick here: https://teamtreehouse.com/community/div-hidden-below-fixed-position-navbar-clearfix-issues-with-css */
.attention {
    color: #fafafa;
    font-size: 40px;
    font-weight: 600;
    padding-left: 15px;
    padding-top: 200px;
}

/* testimonials in carrousel */

.slide {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 30vh;
    text-align: center;
    padding: 5px 30px;
    margin-bottom: 20px
}

blockquote {
    width: 80px;
    font-weight: 300;
    font-size: 30px;
}

/* home intro section */

.intro {
    width: 100%;
    padding: 0;
    min-height: 20vh;
}

.content-intro {
    margin-bottom: 20px;
}

/* main content for each page */

.main-content {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
    line-height: 200%;
}

.intro-section {
    padding-top: 10px;
    padding-bottom: 20px;
}

.section-details {
    min-height: 25vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center!important;
    margin-bottom: 15px;
}

/* links to other websites on about page */

.links {
    color: inherit;
    font-weight: 700;
}

.links:hover {
    color: #FF8863;
}

/* timeline copied and slightly changed from the Resume Mini-project in the User Centric module */

.timeline {
    margin: 0;
}

.history-items {
    padding-left: 30px;
    padding-bottom: 15px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #384955;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    position: absolute;
    top: 2.4em;
    left: -6px;
    border-radius: 12px;
    content: "";
    background-color: #384955;
}

/* qualifications */

.list-row {
    padding: 30px 0 30px;
    line-height: 200%;
}

.button {
    margin-top: 30px;
}

/* Qigong page */

.qigong-p {
    padding: 15px;
}

.list-section {
    padding-left: 30px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    border: 10px solid;
}

.quote {
    font-family: "Quicksand", sans-serif;
    font-weight: 100;
    font-size: 30px;
}

.legend {
    font-family: "Caveat", sans-serif;
}

.quote i {
    padding: 5px;
    font-weight: 700;
}

#video {
    min-height: 50vh;
    padding-bottom: 15px;
}
/* css was suggested to be added by W3 Validator for CSS */
iframe {
    border: none;
}

.verse {
    font-family: "Caveat", sans-serif;
    font-size: 30px;
    padding-top: 30px;
}

.verse ul li {
    list-style: none;
    padding: 15px;
}

/* Amatsu page */

.fivefactors {
    font-weight: 600;
    color: #FF8863;
}

.specialp {
    padding: 10px;
}


/* stones custom css */

.stone-section {
    padding: 0;
    padding-bottom: 15px;
    margin-bottom: 10px;
    margin-left: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* this part of custom css was suggested by Simen Dehlin in slack so the stones are centered on top of each other: https://codepen.io/Eventyret/pen/PMJrNq */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.each-stone {
    width: 120px;
    height: 120px;
    border: 1px solid #384955;
    border-radius: 50%;
    background-color: #384955;
    color: #FAE2CB;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* this part of custom css was suggested by Simen Dehlin in slack so the stones are centered on top of each other: https://codepen.io/Eventyret/pen/PMJrNq but slightly different due to HTML markup*/
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: -15px;
    margin-left: -5px;
    margin-right: -5px;
}

.each-stone p {
    font-weight: 700;
    font-size: 15px;
}

/* treatment cards */

/* Autoprefixer added !important here as well as -ms-flex-pack: distribute!important; */

.card-row {
    -ms-flex-pack: distribute!important;
        justify-content: space-around!important;
}

.card {
    background-color: #FAE2CB;
    color: #384955;
    margin-bottom: 15px;
}

.card-item {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.card-item i {
    font-size: 60px;
}

/* contact page */

.contact-section {
    min-height: 45vh;
    margin-bottom: 0;
    margin-right: 20px;
}

.contact-form {
    background-color: #384955;
    color: #FAE2CB;
}

.form-control {
    margin-top: 10px;
    margin-bottom: 10px;
}

.custom-select {
    margin-bottom: 10px;
}

/* media queries */

/*-----------------------------------------media query to add navbar color background color on bigger screens */

@media (min-width: 768px) {
    .nav-coral {
        background-color: #FAE2CB;
    }
}
/* media query to make the logo bigger to match the navbar height on bigger screens */
@media (min-width: 768px) {
    .navbar-brand>img {
        height: 100px;
        width: 150px;
    }
}
/* media query to make the full background image on home page to take 95% of the screen viewport minimum */
@media (min-width: 768px) {
    .home-image {
        min-height: 95vh;
    }
}
/* media query to make the attention text falls on a second line on bigger screens */
@media (min-width: 768px) {
    .attention {
        width: 50%;
        font-size: 50px;
    }
}

/* media query to hide short section divider on bigger screen */

@media (min-width: 768px) {
    .section-divider-short {
        display: none;
    }
}

/* media query for adding border around the timeline on bigger screens to add UX visuals */
@media (min-width: 768px) {
    .history-items {
        border: 10px solid;
    }
}

@media (min-width: 768px) {
    #video {
        padding-bottom: 0;
    }
}