@import url('https://fonts.googleapis.com/css?family=Advent+Pro:100,200,300,400,500,600,700|Quicksand:300,400,500,700|Poppins:100,200,300,400,500,600,700,800');

*,
::after,
::before {
    box-sizing: border-box;
}

/*-----------------------------------------Colour */

/*-----------------------------------------Special paddings/margins/texts */

.text-uppercase {
    text-transform: uppercase;
}


/*-----------------------------------------logo */

.logo {
    display: inline-block;
    padding: 0;
    margin: 0;
    line-height: inherit;
    white-space: nowrap;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/*-----------------------------------------burger icon */

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*-----------------------------------------nav */

.nav {
    display: flex;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: #CEEAFF;
    align-items: center;
}

.navlist {
    display: flex;

    padding: 0;
    list-style: none;
}

.menu-items {
    width: 50px;
    margin: 60px 15px 30px;
    text-align: center;
    font-family: "poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.menu-items a {
    text-decoration: none;
    color: #384955;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

/*-----------------------------------------hover style for menu items */
.menu-items a:hover {
    background-color: #384955;
    color: #CEEAFF;
}

/*-----------------------------------------to increase width of menu items with longer content */
.long-item1 {
    width: 150px;
    margin-top: 45px;
    margin-left: 0;
    margin-right: 0;
}

.long-item2 {
    width: 180px;
    margin-left: 0;
    margin-right: 0;
}

/*-----------------------------------------media queries */